$clr-primary-500: hsl(75, 94%, 57%);

$clr-neutral-1000: hsl(0, 0%, 100%);
$clr-neutral-200: hsl(0, 0%, 20%);
$clr-neutral-100: hsl(0, 0%, 12%);
$clr-neutral-000: hsl(0, 0%, 8%);

$f-size: 0.875rem;
$fw-regular: 400;
$fw-medium: 600;
$fw-bold: 700;
$f-family: "Inter", sans-serif;
